@import "tailwindcss";


body, html , #root {
  width: 100%;
  min-height: 100%;
  padding: 0;
  margin: 0;
}

html,
body {
  overflow-x: hidden;
}

@layer utilities{
  .crd{
    transform: rotate(-10deg);
  }
}
